@model List<Product>

<h1>Product/Lıst</h1>

<div class="row">

    @foreach (Product urun in Model)
    {
            <div class="col-md-3">
                <div class="card shadow rounded-4 p-2">
                    <img  src="~/img/@urun.Image" alt="Ürün Resmi">
                    <h1 class="my-2 card-title">@urun.Title</h1>
                    <p class="my-2">@urun.Description</p>
                    <a class="btn btn-outline-danger text-center" asp-controller="Products" asp-action="Details"
                        asp-route-id="@urun.Id">Detay</a>
                </div>
            </div>
    }
</div>


    @* <div class="col-6">
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <img src="~/img/@Model[1].ÜrünResim" alt="" class="img-fluid rounded-start">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@Model[1].ÜrünBaslık</h5>
                        <p class="card-text">@Model[1].ÜrünAcıklama</p>
                        <button class="btn btn-primary btn-sm">Detay</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <img src="~/img/@Model[2].ÜrünResim" alt="" class="img-fluid rounded-start">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@Model[2].ÜrünBaslık</h5>
                        <p class="card-text">@Model[2].ÜrünAcıklama</p>
                        <button class="btn btn-primary btn-sm">Detay</button>
                    </div>
                </div>
            </div>
        </div>
    </div> *@

